body {
    background-color: white;
}

h1 {
   text-align: center;
   color:hsl(0, 0%, 0%);
}

li {
    border: black 1px solid;
    display: inline;
    padding: 10px;
    margin: 10px;
    background-color: yellow;
    color: black;
}
