body {
    background-color: white;
}

h1 {
   text-align: center;
   color:hsl(0, 0%, 0%);
}

li {
    border: black 1px solid;
    display: inline;
    padding: 10px;
    margin: 10px;
    background-color: yellow;
    color: rgb(0, 0, 0);
}
body {
    background-color: grey;
    background-image: url('https://images5.alphacoders.com/861/thumb-1920-861297.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ul {
    text-align: center;
}
h5 {
    text-align: center;
    
}